

body
{
    background-image: url(ShadowBackground.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li
{
    list-style-type: none;
    padding: 2%;
    height: 100%;
}

ul
{
    position: absolute;
    width: 10%;
    height: 4%;
}

table
{
    text-align: left;
    color: black; 
    border: 1px solid black;
    background-color: cornsilk;
    /*table-layout: fixed;*/
    
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    
    object-position: center top;

}

/*
Color palette : 

Dark Blue   : #031520
Steel Blue  : #39546B
Light Blue  : #3F6DA8
White       : #A6A5B6
Steel       : #807B89

*/

tr
{
    border: 1px solid black;
}

td, th
{
    border: 1px solid black;
}

td.info
{
    background-color: turquoise;
    border: none;
}
td.name
{
    background-color: turquoise;
    border: none;
}

/*
th 
{
    table-layout: fixed;
    width: 100%;
    width: fit-content;
    border: 1px solid black;
}

tr, td
{
    table-layout: inherit;
}
*/


button
{
    color: black;
    background-color: whitesmoke;
    
    border: none;
    border-radius: 12px;
    
    height: 100%;
    width: 100%;
    /*
    padding: 1%;
    width: 12%;

    margin-left: 0.25%;
    margin-bottom: 0.5%;

    border: none;
    border-radius: 12px;
    */
}

button:hover
{
    background-color: #37d2e4;
    transition-duration: 0.6s;
}
