

body
{
    background-image: url(ShadowBackground.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

li
{
    list-style-type: none;
    padding: 2%;
    
}

ul{
    position: absolute;
}

table
{
    text-align: left;
    color: black; 
    border: 2px solid black;
    background-color: cornsilk;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    object-position: center top;

    
}

td, tr, th
{
    border: 1px solid black;
}

button
{
    color: black;
    background-color: whitesmoke;
    
    border: none;
    border-radius: 12px;
    
    width: 120%;

    /*
    padding: 1%;
    width: 12%;

    margin-left: 0.25%;
    margin-bottom: 0.5%;

    border: none;
    border-radius: 12px;
    */
}

button:hover
{
    background-color: #37d2e4;
    transition-duration: 0.6s;
}
